
      @font-face {
        font-family: BonvenoCF;
        src: url("./asset/agency-fb.ttf");
}
      
      body {
        font-family:BonvenoCF;

      }
      html, body{
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
      }

.header{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--bs-success);
}
.bold {
    color: var(--bs-success);
}

.sub-header{
    text-align: center;
    font-family: BonvenoCF;
}

.content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
   
    
}

.playground{
    display: flex;
    justify-content: center;


}
#playground{
    display: flex;
    justify-content: center;
    width: 100%;
}

.carte{
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.322));
    text-align: center;
    border-radius: 30px;
}
.carte-forfait{
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.322));
    text-align: center;
    margin-top: 30px;
}
.carte-forfait-titre{
    font-weight: bold;
    font-size: 1.5em;
}
.carte1-titre{
        color: #74C686;
        font-weight: bold;
        font-size: 1.5em;
}
.carte1-text{
    color: black
}
.carte2{
    background-color:#74C686;
}
.carte2-titre{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
}
.carte2-text{
color: rgb(255, 255, 255)
}

#qrcodeTable{
    text-align: center;
  }
.titre-mod{
    font-family: BonvenoCF;
    font-weight: bold;
    font-size: 4em;
}

    /* FOOTER */

.link {
    display: flex;
    justify-content: center;
  }
  
 
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color:black;

  }
  
  

  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  